*{
    margin: 0 0 0 0;
    border:border-box;
}
.container{
    margin: 0 auto;
    width: 75vw;
    height: 100vh;
    border: 2px solid #fff;

}

h1{
    width: 100px;
    border: 2px solid #fff;
    border-radius: 10px;
    
}
header>h1{
    display:inline;
    margin-top: 10px ;
}


body{
    background-color: black;
    color: black;
}

#cabecalho {
    color: wheat;
    margin: 10px;
    
}

#menu ul{
    list-style-type: none;
    margin: 4;
    padding:0;
}
#menu ul li{
float:  left;
}

#menu ul li a{
    display: block;
    color: rgb(61, 192, 69);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: #413e3e;
}
#menu ul li a:hover {
  background-color: #120101;
}
#menu ul li a.active{
    background-color:rgb(189, 189, 189);
}
#menu ul li {
  float: left;
  border-right: 1px solid #bbbbbb;
}

#menu ul li:last-child {
  border-right: none;
}

 #cabecalho  { 
    font-family: Courier New, monospace;
    margin-top : 10px    ;

}

#hero h2 {
margin-top: 80px;
color:rgb(223, 233, 221);
font-family: Courier New, monospace;
}
#hero a {
    background-color: #f4f4f4;
    padding: 10px;
    box-shadow: 0px 0px 10px wheat;
}
#hero a{
    text-decoration: none;
    color: #fff;
    background-color: #e6d0d0;
    padding: 10px;
    border-radius: 5px;
}
#hero a:hover{
    background-color: #fff;
color: #f4f4f4;
}
#hero a:active{
    background-color: blue  ;
}
#hero p{
    padding: 10px;
    color: wheat;
}
.rodape p {
    color:white;
    margin-top: 10vh;
}




